{% extends '_base.html' %}

{% block title %}About Us{% endblock title %}

{% block content %}
<h1>About Sharath's BookStore:</h1>
<p>Sharath's BookStore is operated by Sharath Private Limited, an eCommerce Company based out of Bangalore. It is also the online wing of India's Largest Retail Book Mall - Sharath Book House Pvt Ltd.
We are an e-commerce or rather an e-tailing store working on the Mission to give people the most convenient, easy and secure shopping experience on the web.</p>
<p>Sharath's BookStore has been noted as India's fastest growing book retailer on the web and currently has a catalogue spread of over 10 million books to browse from.</p>
<p>We have a team of experienced people from diverse backgrounds working together to fulfil 3 main objective's - benefiting customers of low prices, providing a vast catalogue selection and products and lastly a fast, reliable and very safe payment and delivery option to the customers.</p>
<br><br>
<h2>Brief Stats of Sharath's BookStore:</h2>
<p>Currently, we have over Half a Million monthly active & happy users and have over a Million (1,000,000) registered users.</p>
<p>We ship over a thousand orders a day and are growing every day!</p>
<p>Sharath's BookStore is Headquartered in Bangalore and has it's warehouses in New Delhi, Chennai and Bangalore.
This eCommerce store has been awarded the most promising e-tailing company 2013 and has got the unique tag of the most Prompt Order and Delivery channel.</p>
<p>Our Mission is to give you the most convenient , easy and secure shopping experience on the web.
CAN I WORK FOR SharathONLINE?</p>
<p>If you are smart and dynamic, yes you can work with us. We are growing at a very fast pace and are seeking extremely smart people to come work with us. Send an e-mail at sharathsbookstore@gmail.com Sharath's BookStore and we will get back to you shortly.</p>
<br><br>
<h2>REGISTERED OFFICE:</h2>
<pre>
Sharath Private Limited
No: 20, 5nd Cross
Gandhinagar
Bangalore - 560 009
Karnataka.
India.
</pre>
{% endblock content %}